<main class="container">
  {{> errors}}
  {{> messages}}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form action="/users/signup" method="POST" class="form-signin">

              <div class="form-row">
                <div class="col">
                  <div class="form-label-group">
                    <input type="text" id="inputName" class="form-control" name="name" value="{{name}}" placeholder="Nombre" required
                      autofocus>
                    <label for="inputName">Nombre</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-label-group">
                    <input type="text" id="inputLastname" class="form-control" name="lastname" value="{{lastname}}" placeholder="Apellido"
                      required>
                    <label for="inputLastname">Apellido</label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" name="mail" value="{{mail}}" placeholder="Direccion de Mail"
                      required>
                    <label for="inputEmail">Direccion de Mail</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-label-group">
                    <input type="text" id="inputPhone" class="form-control" name="phone" value="{{phone}}" placeholder="Telefono"
                      required>
                    <label for="inputPhone">Telefono</label>
                  </div>
                </div>
              </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" value="{{password}}" placeholder="Contrase単a"
                  required>
                <label for="inputPassword">Contrase単a</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPasswordConfirm" class="form-control" name="confirm_password"
                  value="{{confirm_password}}" placeholder="Repita Contrase単a" required>
                <label for="inputPasswordConfirm">Repita Contrase単a</label>
              </div>

              <div class="form-group">
                <select name="healphInsurance" class="form-control" id="healthInsurance">
                  <option selected>Obra Social o Prepaga</option>
                  <option>Osde</option>
                  <option>Galeno</option>
                  <option>Swiss Medical</option>
                  <option>Medicals</option>
                  <option>Sin Obra Social</option>
                </select>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                  class="fab fa-google mr-2"></i> Sign UP con Google</button>
              {{!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> --}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>